openapi: 3.0.0

info:
  title: WMS ERP API
  description: Описание публичного API для сервисов платформы TbT и схемы данных для ERP-систем. TbT.
  version: v1
  
servers:
  - url: https://sandbox-api.tbt-post.net/api/v1
  
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
security:
  - BasicAuth: []
  
tags:
- name: Реестры
- name: Справочник цветов
- name: Получение данных товара

paths:
  /agent/schema/{schema_name}:
    get:
      tags: 
      - Реестры
      summary: Получение схемы валидации
      description: "В параметр <i><schema_name></i> можно подставить такие значения: <br> <b>wms_items_in</b> - валидация реестра для загрузки. <br> <b>wms_items_out </b> - валидация данных результата реестра (в данном случае - в ответе, а не запросе). <br> <b>wms_event </b> - валидация сообщений wms event (такие сообщения будут отправлятья во внешнюю систему)."
      parameters:
      - in: path
        name: schema_name 
        required: true
        description: "Возможные значения [<i>wms_items_in | wms_items_out | wms_event</i> ]. Параметр является <b>обязательным</b> для ввода.<br/> &bull;  Тип данных - строчное значение."
        schema:
          type : string
                  
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  anyOf:
                    type: array
                    items:
                      type: object
                      properties:
                        required:
                          type: string
                          example: [origin, generated, serial]
                        required1:
                          type: string
                          example: [origin, generated, uid]
                        required2:
                          type: string
                          example: [origin, generated, useserial]
                  dependencies:
                    type: object
                    properties:
                      items:
                        type: object
                        properties:
                          required:
                            type: string
                            example: [definitions, total]
                  additionalProperties:
                    type: boolean
                    example: false
                  definitions:
                    type: object
                    properties:
                      color_model_hsl:
                        type: object
                        properties:
                          required:
                            type: string
                            example: [color_model, color_value]
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              color_value:
                                type: object
                                properties:
                                  minItems:
                                    type: integer
                                    example: 3
                                  items:
                                    type: array
                                    items:
                                      type: object
                                    example:
                                      - 
                                        minimum: 0
                                        type: number
                                        maximum: 360
                                      - 
                                        minimum: 0
                                        type: number
                                        maximum: 100
                                      - 
                                        minimum: 0
                                        type: number
                                        maximum: 100
                                  additionalItems:
                                    type: boolean
                                    example: false
                                  type:
                                    type: string
                                    example: array
                              color_model:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [hsl]
                                  type:
                                    type: string
                                    example: string
                      task_unload:
                        type: object
                        properties:
                          type:
                            type: string
                            example: 'object'
                          properties:
                            type: object
                            properties:
                              action:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [unload]
                                  type:
                                    type: string
                                    example: string
                              spec:
                                type: object
                                properties: 
                                  additionalProperties:
                                    type: boolean
                                    example: false
                                  required:
                                    type: string
                                    example: [items, type, class, delivery_type, sender, receiver, address_id]
                                  type: 
                                    type: string
                                    example: object
                                  properties:
                                    type: object
                                    properties:
                                      dest_apartment:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: string
                                      address_id:
                                        type: object
                                        properties:
                                          $ref:
                                            type: string
                                            example: "#/definitions/uuid"
                                      cod_amount:
                                        type: object
                                        properties:
                                          minimum:
                                            type: number
                                            example: 0.01
                                          type:
                                            type: string
                                            example: number
                                          maximum:
                                            type: number
                                            example: 9999999999.99
                                          multipleOf:
                                            type: number
                                            example: 0.01
                                      sender:
                                        type: object
                                        properties:
                                          $ref: 
                                            type: string
                                            example: "#/definitions/uuid"
                                      delivery_service:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [self_delivery, kastapost, novaposhta, ukrposhta, meest, intime, justin]
                                          type: 
                                            type: string
                                            example: string
                                      receiver:
                                        type: object
                                        properties:
                                          $ref: 
                                            type: string
                                            example: "#/definitions/uuid"
                                      delivery_type:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [W2W, W2D, D2W, D2D]
                                          type: 
                                            type: string
                                            example: string      
                                      parcel_code:
                                        type: object
                                        properties:
                                          anyOf:
                                            type: array
                                            items:
                                              type: object
                                            example:
                                              -
                                                type: null
                                              -
                                                pattern: "^[^ ]{6,32}$"
                                                type: string
                                                description: "some parcel group code, e.g. order id or delivery reg @ external ERP"
                                      note:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                      items:
                                        type: object
                                        properties:
                                          items:
                                            type: object
                                            properties:
                                              pattern:
                                                type: string
                                                example: "^[^ ]{6,32}$"
                                              type:
                                                type: string
                                                example: string
                                              description: 
                                                type: string
                                                example: "unique sku code, e.g. MK0A123456789012"
                                          type:
                                            type: string
                                            example: array
                                      dest_branch_id:
                                        type: object
                                        properties:
                                          pattern: 
                                            type: string
                                            example: "^[^ ]{2,128}$"
                                          type:
                                            type: string
                                            example: string  
                                      type:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [undef, papers, fragile, goods, foods, chemicals, special, hazard]
                                          type: 
                                            type: string
                                            example: string
                                      class:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "parcel class, e.g. I.PRP.NR.NA.S000"
                      task:
                        type: object
                        properties:
                          allOf:
                            type: array
                            items:
                              type: object
                            example:
                              -
                                ref: "#/definitions/task_common"
                          oneOf:
                            type: array
                            items:
                              type: object
                            example:
                              -
                                ref: "#/definitions/task_store"  
                              -
                                ref: "#/definitions/task_unload"
                              -
                                ref: "#/definitions/task_fulfill"
                      uuid:
                        type: object
                        properties:
                          pattern:
                            type: string
                            example: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                          type:
                            type: string
                            example: string
                      color_model_cmyk:
                        type: object
                        properties:
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              color_value:
                                type: object
                                properties:
                                  minItems:
                                    type: integer
                                    example: 4
                                  items:
                                    type: object
                                    properties:
                                      minimum:
                                        type: integer
                                        example: 0
                                      type:
                                        type: string
                                        example: number
                                      maximum:
                                        type: number
                                        example: 100
                                  type:
                                    type: string
                                    example: array
                                  maxItems:
                                    type: integer
                                    example: 4
                              color_model:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [cmyk]
                                  type: 
                                    type: string
                                    example: string
                      color_model_lab:
                        type: object
                        properties:
                          required: 
                            type: string
                            example: [color_model, color_value]
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              color_value:
                                type: object
                                properties:
                                  minItems:
                                    type: integer
                                    example: 3
                                  items:
                                    type: array
                                    items:
                                      type: object
                                    example:
                                      - 
                                        minimum: 0
                                        type: number
                                        maximum: 360
                                      - 
                                        minimum: -100
                                        type: number
                                        maximum: 100
                                      - 
                                        minimum: -100
                                        type: number
                                        maximum: 100
                                  additionalItems:
                                    type: boolean
                                    example: false
                                  type:
                                    type: string
                                    example: array
                              color_model:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [lab]
                                  type:
                                    type: string
                                    example: string
                      item_class:
                        type: object
                        properties:
                          additionalProperties:
                            type: boolean
                            example: false
                          required:
                            type: string
                            example: [type, weight, dimensions, description]
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              type:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [item_class]
                                  type:
                                    type: string
                                    example: string
                              dimensions:
                                type: object
                                properties:
                                  minItems:
                                    type: integer
                                    example: 3
                                  items:
                                    type: object
                                    properties:
                                      minimum: 
                                        type: integer
                                        example: 0
                                      type: 
                                        type: string
                                        example: integer
                                  type:
                                    type: string
                                    example: array
                                  description:
                                    type: string
                                    example: "width, height, depth, in mm"
                                  maxItems:
                                    type: integer
                                    example: 3
                              weight:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: integer
                                  description:
                                    type: string
                                    example: "weight, in grams"
                              description:
                                type: object
                                properties:
                                  required:
                                    type: string
                                    example: article, code, name, brand, type, size, size_class, color, origin, composition, info, product_id, photos]
                                  type:
                                    type: string
                                    example: object
                                  properties:
                                    type: object
                                    properties:
                                      lang:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [ru, uk, en]
                                          type:
                                            type: string
                                            example: string
                                      info:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: string
                                          description: 
                                            type: string
                                            example: "verbose description"
                                      code:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: string
                                          description: 
                                            type: string
                                            example: "EAN-13 manufacturer barcode, e.g. 978020137962"
                                      size_class:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: string
                                          description: 
                                            type: string
                                            example: "size chart used, e.g. EU"
                                      product_id:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: string
                                          description: 
                                            type: string
                                            example: "e.g. 431231234"
                                      tags:
                                        type: object
                                        properties:
                                          items:
                                            type: object
                                            properties:
                                              pattern:
                                                type: string
                                                example: "^[^ ]{3,24}$"
                                              type:
                                                type: string
                                                example: string
                                          type:
                                            type: string
                                            example: array
                                          description:
                                            type: string
                                            example: "e.g. additional marks to help identify the item"
                                          maxItems:
                                            type: integer
                                            example: 30      
                                      color:
                                        type: object
                                        properties:
                                          additionalProperties:
                                            type: boolean
                                            example: false
                                          required:
                                            type: string
                                            example: [$ref]
                                          type:
                                            type: string
                                            example: object
                                          properties:
                                            type: object
                                            properties:
                                              ref1: 
                                                type: object
                                                properties:
                                                  ref2:
                                                    type: string
                                                    example: "#/definitions/uuid"
                                      season:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [winter, summer, spring, fall, demi-season, demi-season-summer, demi-season-winter, all-season]
                                          type:
                                            type: string
                                            example: string
                                      brand:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "e.g. Adidas"
                                      fragile:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: boolean
                                      price:
                                        type: object
                                        properties:
                                          minimum:
                                            type: integer
                                            example: 0.01
                                          type:
                                            type: string
                                            example: number
                                          maximum:
                                            type: number
                                            example: 9999999999.99
                                          multipleOf:
                                            type: number
                                            example: 0.01
                                      photos:
                                        type: object
                                        properties:
                                          items:
                                            type: object
                                            properties:
                                              type:
                                                type: string
                                                example: string
                                              format:
                                                type: string
                                                example: uri
                                          type:
                                            type: string
                                            example: array
                                      gender:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [female, male, unisex]
                                          type:
                                            type: string
                                            example: array
                                      article:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                      size:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "e.g. 42"
                                      type:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "e.g. shoes"
                                      composition:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "string with delimiter"
                                      origin:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "manufacturer country e.g. Singapore"
                                      name:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "e.g. Cargo"
                      color_model_rgb:
                        type: object
                        properties:
                          required:
                            type: string
                            example: [color_model, color_value]
                          type:
                            type: string
                            example: object
                          properties:
                            type: object
                            properties:
                              color_value:
                                type: object
                                properties:
                                  minItems:
                                    type: integer
                                    example: 3
                                  items:
                                    type: array
                                    items:
                                      type: object
                                    example:
                                      - 
                                        minimum: 0
                                        type: integer
                                        maximum: 255
                                  type:
                                    type: string
                                    example: array
                              color_model:
                                type: object
                                properties:
                                  enum:
                                    type: string
                                    example: [rgb]
                                  type:
                                    type: string
                                    example: string
                              uuid_v4:
                                type: object
                                properties:
                                  pattern:
                                    type: string
                                    example: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                                  type:
                                    type: string
                                    example: string
                              color_class_common:
                                type: object
                                properties:
                                  additionalProperties:
                                    type: boolean
                                    example: false
                                  required:
                                    type: string
                                    example: [type, color_name, color_model, color_id]
                                  type:
                                    type: string
                                    example: object
                                  properties:
                                    type: object
                                    properties:
                                      color_value: 
                                        type: string
                                        example: {}
                                      color_model:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [undef, rgb, hsl, lab, cmyk]
                                          type: 
                                            type: string
                                            example: string   
                                      color_name:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                      type:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [color_class]
                                          type:
                                            type: string
                                            example: string
                                      color_id:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: string
                                          description:
                                            type: string
                                            example: "reference to color in external system, e.g. 87463234"
                              task_fulfill:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: object
                                  properties:
                                    type: object
                                    properties:
                                      action:
                                        type: object
                                        properties:
                                          enum:
                                            type: string
                                            example: [fulfill]
                                          type:
                                            type: string
                                            example: string
                                      spec:
                                        type: object
                                        properties:
                                          additionalProperties:
                                            type: boolean
                                            example: false
                                          patternProperties:
                                            type: object
                                            properties:
                                              '[0-9a-fa-fA-F]{8}-[0-9a-fa-fA-F]{4}-[0-9a-fa-fA-F]{4}-[0-9a-fa-fA-F]{4}-[0-9a-fa-fA-F]{12}$': 
                                                type: object
                                                properties:
                                                  additionalProperties:
                                                    type: boolean
                                                    example: false
                                                  required:
                                                    type: string
                                                    example: [items]
                                                  type:
                                                    type: string
                                                    example: object
                                                  properties:
                                                    type: object
                                                    properties:
                                                      items:
                                                        type: object
                                                        properties:
                                                          items:
                                                            type: object
                                                            properties:
                                                              type:
                                                                type: string
                                                                example: string
                                                          type:
                                                            type: string
                                                            example: array
                                          type:
                                            type: string
                                            example: object
                              class_class:
                                type: object
                                properties:
                                  allOf:
                                    type: array
                                    items:
                                      type: object
                                    example:
                                      -
                                        ref: "#/definitions/color_class_common"
                                  oneOf:
                                    type: array
                                    items:
                                      type: object
                                    example:
                                      -
                                        ref: "#/definitions/color_model_undef"  
                                      -
                                        ref: "#/definitions/color_model_rgb"
                                      -
                                        ref: "#/definitions/color_model_hsl"
                                      -
                                        ref: "#/definitions/color_model_lab"  
                                      -
                                        ref: "#/definitions/color_model_cmyk"
                                
        401:
          description: "'message': 'Authorization Required'  →  <i>Необходимо авторизоваться снова"
        403:
          description: "'message': 'Forbidden'  →  <i>Проверьте данные авторизации на корректность и авторизируйтесь еще раз."
                    
  /agent/wms/items/:
    post:
      tags:
      - Реестры
      summary: Загрузка реестра
      # description: ...
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origin:
                  type: string
                  example: "293d98fc-80e3-476b-86a3-62eefcd91665"
                tasks:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        example: "fulfill"
                      spec:
                        type: object
                        properties:
                          '312153ec-3d06-46ec-a2e3-87e8b1bb0122': 
                            type: object
                            properties:
                              items:
                                type: number
                                example: ['50000323849711', '50000338701827']
                uid:
                  type: string
                  example: "a5acf9c9-999f-41fb-b3de-585689b02eb3"
                userial:
                  type: string
                  example: "3a30bd80-7406-11ea-8ddd-790d4a755f6d"
                items:
                  type: array
                  items:
                    type: object
                  example:
                    -
                      code: '50000323849711'
                      dimensions: [0, 0, 0]
                      weight: 350
                      note: ''
                      type: item
                      class: {$ref: 216ed0f5-f332-11e9-80de-005056a8435c}
                      quantity: 1
                    -
                      code: '50000338701827'
                      dimensions: [0, 0, 0]
                      weight: 300
                      note: ''
                      type: item
                      class: {$ref: 43058f46-4f01-11ea-80e8-005056a8435c}
                      quantity: 1  
                generated:
                  type: number
                  example: 1585735854000
                definitions:
                  type: object
                  properties:
                    216ed0f5-f332-11e9-80de-005056a8435c:
                      type: object
                      properties:
                        type:
                          type: string
                          example: item_class
                        dimensions:
                          type: string
                          example: [0, 0, 0]
                        weight:
                          type: integer
                          example: 350
                        description:
                          type: object
                          properties: 
                            lang:
                              type: string
                              example: ru
                            info:
                              type: string
                              example: "На размер L длина изделия по спинке 68 см, длина рукава 68 см."
                            code:
                              type: number
                              example: '50000323849711'
                            size_class:
                              type: string
                              example: ''
                            product_id:
                              type: number
                              example: '9747234.695'
                            tags:
                              type: string
                              example: []
                            color:
                              type: object
                              properties:
                                $ref: 
                                  type: string
                                  example: '31d789f9-a83a-4a09-b953-a4261cb09910'
                            brand:
                              type: string
                              example: ZARA
                            fragile:
                              type: boolean
                              example: false
                            photos:
                              type: string
                              example: 
                                -
                                  https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/ea4db185943486992048fe41e98c898c.jpg
                                -
                                  https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/caa267862b51d9c4f24e5d4d0a12f0c9.jpg
                                -
                                  https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/8d192515d5e5f514fceadbe540dc64df.jpg
                                -
                                  https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/70a16070519236633db441f7f6c7b8f5.jpg
                                -
                                  https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/6ebbfca1f557e3d462648191d637a617.jpg
                            article:
                              type: string
                              example: '0414/301_синий'
                            size:
                              type: string
                              example: 'M'
                            type:
                              type: string
                              example: 'Поло'
                            composition:
                              type: string
                              example: ''
                            origin:
                              type: string
                              example: 'Португалия'
                            name:
                              type: string
                              example: 'Поло'
                    31d789f9-a83a-4a09-b953-a4261cb09910:
                      type: object
                      properties:
                        color_model:
                          type: string
                          example: 'undef'
                        color_name:
                          type: string
                          example: 'Темно-синий'
                        type:
                          type: string
                          example: color_class
                        color_id:
                          type: string
                          example: "695"
                    7d331617-f496-4167-93ce-a6cf071695d7:
                      type: object
                      properties:
                        color_model:
                          type: string
                          example: 'undef'
                        color_name:
                          type: string
                          example: 'Терракотовый'
                        type:
                          type: string
                          example: color_class
                        color_id:
                          type: string
                          example: "697"
                    43058f46-4f01-11ea-80e8-005056a8435c:
                      type: object
                      properties:
                        type:
                          type: string
                          example: item_class
                        dimensions:
                          type: string
                          example: [0, 0, 0]
                        weight:
                          type: number
                          example: 300
                        description: 
                          type: object
                          properties:
                            lang:
                              type: string
                              example: ru
                            info:
                              type: string
                              example: "Длина изделия: 42 см. Описание для размера: EUR M."
                            code:
                              type: string
                              example: "50000338701827"
                            size_class:
                              type: string
                              example: ""
                            product_id:
                              type: number
                              example: "10117296.697"
                            tags:
                              type: string
                              example: []
                            color:
                              type: object
                              properties:
                                $ref:
                                  type: string
                                  example: "7d331617-f496-4167-93ce-a6cf071695d7"
                            brand:
                              type: string
                              example: "ZARA"
                            fragile:
                              type: boolean
                              example: false
                            photos:
                              type: string
                              example: ["https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/edc114ad89753ce3b5176b527dc5bf9a.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/d5ef0c5f7edae93e6c573ab063243de0.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/3c6f04fd406a95b6e43da523172648d7.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/5eef7318dd81fd578d9eb087d5698408.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/dd266888a7650d5e197f18c6567b8abe.jpg"]
                            article:
                              type: string
                              example: "4886/256/642"
                            size: 
                              type: string
                              example: "EUR XS"
                            type:
                              type: string
                              example: "Юбка"
                            composition:
                              type: string
                              example: ""
                            origin:
                              type: string
                              example: "Турция"
                            name:
                              type: string
                              example: "Юбка"
                serial:
                  type: number
                  example: 4463721332654658
                total:
                  type: integer
                  example: 2
              
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true

        400:
          description: "'message': data is not valid against json schema 'wms_items_in' or 'message': Invalid JSON body: No JSON object could be decoded  →  <i> Не валидное тело запроса."
        401:
          description: "'message': 'Authorization Required'  →  <i>Необходимо авторизоваться снова"
        403:
          description: "'message': 'Forbidden'  →  <i>Проверьте данные авторизации на корректность и авторизируйтесь еще раз."                                   
        
  
  /agent/wms-exchange/registry/list/:
    get:
      tags:
      - Реестры
      summary: Получение списка реестров
      description: ""
      parameters:
      - in: query
        name: limit
        required: false
        description: "Ограничение количества реестров. Параметр является <b>НЕ обязательным</b> для ввода.<br/> &bull;  Тип данных - целочисельное значение."
        schema:
          type : integer
          
      - in: query
        name: sort_order
        required: false
        description: "Порядок сортировки <desc|asc>. Параметр является <b>НЕ обязательным</b> для ввода.<br/> &bull;  Тип данных - строчное значение."
        schema:
          type : string
      - in: query
        name: filter_params
        required: false
        description: "Фильтр по полям [is_valid, is_processed]. Параметр является <b>НЕ обязательным</b> для ввода.<br/> &bull;  Тип данных - строчное значение."
        schema:
          type : string
      - in: query
        name: is_closed
        required: false
        description: ""
        schema:
          type : boolean
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      origin:
                        type: string
                        example: "293d98fc-80e3-476b-86a3-62eefcd91665"
                      tasks:
                        type: string
                        example: ["fulfill"]
                      uid: 
                        type: string
                        example: "a5acf9c9-999f-41fb-b3de-585689b02eb3"
                      userial: 
                        type: string
                        example: "3a30bd80-7406-11ea-8ddd-790d4a755f6d"
                      is_processed:
                        type: boolean
                        example: "true"
                      generated:
                        type: number
                        example: 1585735854000
                      is_valid:
                        type: boolean
                        example: false
                      stored_at:
                        type: string
                        example: "2020-04-01T13:50:41Z"
                      records_total:
                        type: integer
                        example: 2
                      serial:
                        type: number
                        example: 4463721332654658
                      is_closed:
                        type: boolean
                        example: true
                      description:
                        type: string
                        example: null
                  
                    example:
                      -
                        origin: "293d98fc-80e3-476b-86a3-62eefcd91665"
                        tasks: ["fulfill"]
                        uid: "a5acf9c9-999f-41fb-b3de-585689b02eb3"
                        userial: "3a30bd80-7406-11ea-8ddd-790d4a755f6d"
                        is_processed: true
                        generated: 1585735854000
                        is_valid: false
                        stored_at: "2020-04-01T13:50:41Z"
                        records_total: 2
                        serial: 4463721332654658
                        is_closed: true
                        description: null
                      -
                        origin: "2293d98fc-80e3-476b-86a3-62eefcd91665"
                        tasks: ["store"]
                        uid: "6f27026e-506c-46f9-a0f5-8e265c8cf43b"
                        userial: "f39f6b20-62e7-11ea-aecb-790d4a755f6d"
                        is_processed: true
                        generated: 1583855890000
                        is_valid: true
                        stored_at: "2020-03-10T15:58:15Z"
                        records_total: 2
                        serial: 4463719452690193
                        is_closed: false
                        description: "00000000000000000606;2353100019;380975555554;"
                  page_size:
                    type: integer
                    example: 2                
                
        401:
          description: "'message': 'Authorization Required'  →  <i>Необходимо авторизоваться снова"
        403:
          description: "'message': 'Forbidden'  →  <i>Проверьте данные авторизации на корректность и авторизируйтесь еще раз."                                          
          
          
  /agent/wms-exchange/registry:
    get:
      tags:
      - Реестры
      summary: Получения данных одного реестра
      description: "Параметры <b>generated</b> и <b>serial</b> - идентификаторы созданного реестра.<br>Поле <b>payload</b> - содержимое реестра по схеме <b>wms_items_in</b>"
      parameters:
      - in: query
        name: generated
        required: true
        description: "Параметр является <b>обязательным</b> для ввода.<br/> &bull;  Тип данных - числовое значение."
        schema:
          type : number
      - in: query
        name: serial
        required: true
        description: "Параметр является <b>обязательным</b> для ввода.<br/> &bull;  Тип данных - числовое значение."
        schema:
          type : number
      
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_processed:
                    type: boolean
                    example: true
                  analysis:
                    type: object
                    properties:
                      unload-not-intersected:
                        type: boolean
                        example: true
                      total-vs-tasks:
                        type: boolean
                        example: true
                      fulfill-not-intersected:
                        type: boolean
                        example: true
                      tasks-items-all-unique:
                        type: boolean
                        example: true
                      store-not-intersected:
                        type: boolean
                        example: true
                      all-items-are-in-stock:
                        type: boolean
                        example: false
                      only-known-tasks:
                        type: boolean
                        example: true
                      total-vs-items:
                        type: boolean
                        example: true
                  summary:
                    type: object
                    properties:
                      not-in-stock:
                        type: string
                        example: ["50000323849711","50000338701827"]
                  generated:
                    type: number
                    example: 1585735854000
                  is_valid:
                    type: boolean
                    example: false
                  stored_at:
                    type: string
                    example: "2020-04-01T13:50:41.697Z"
                  serial:
                    type: number
                    example: 4463721332654658
                  payload:
                    type: object
                    properties:
                      origin:
                        type: string
                        example: "293d98fc-80e3-476b-86a3-62eefcd91665"
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            action:
                              type: string
                              example: "fulfill"
                            spec:
                              type: object
                              properties:
                                '312153ec-3d06-46ec-a2e3-87e8b1bb0122': 
                                  type: object
                                  properties:
                                    items:
                                      type: number
                                      example: ['50000323849711', '50000338701827']
                      uid:
                        type: string
                        example: "a5acf9c9-999f-41fb-b3de-585689b02eb3"
                      userial:
                        type: string
                        example: "3a30bd80-7406-11ea-8ddd-790d4a755f6d"
                      items:
                        type: array
                        items:
                          type: object
                        example:
                          -
                            code: '50000323849711'
                            dimensions: [0, 0, 0]
                            weight: 350
                            note: ''
                            type: item
                            class: {$ref: 216ed0f5-f332-11e9-80de-005056a8435c}
                            quantity: 1
                          -
                            code: '50000338701827'
                            dimensions: [0, 0, 0]
                            weight: 300
                            note: ''
                            type: item
                            class: {$ref: 43058f46-4f01-11ea-80e8-005056a8435c}
                            quantity: 1  
                      generated:
                        type: number
                        example: 1585735854000
                      definitions:
                        type: object
                        properties:
                          216ed0f5-f332-11e9-80de-005056a8435c:
                            type: object
                            properties:
                              type:
                                type: string
                                example: item_class
                              dimensions:
                                type: string
                                example: [0, 0, 0]
                              weight:
                                type: integer
                                example: 350
                              description:
                                type: object
                                properties: 
                                  lang:
                                    type: string
                                    example: ru
                                  info:
                                    type: string
                                    example: "На размер L длина изделия по спинке 68 см, длина рукава 68 см."
                                  code:
                                    type: number
                                    example: '50000323849711'
                                  size_class:
                                    type: string
                                    example: ''
                                  product_id:
                                    type: number
                                    example: '9747234.695'
                                  tags:
                                    type: string
                                    example: []
                                  color:
                                    type: object
                                    properties:
                                      $ref: 
                                        type: string
                                        example: '31d789f9-a83a-4a09-b953-a4261cb09910'
                                  brand:
                                    type: string
                                    example: ZARA
                                  fragile:
                                    type: boolean
                                    example: false
                                  photos:
                                    type: string
                                    example: 
                                      -
                                        https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/ea4db185943486992048fe41e98c898c.jpg
                                      -
                                        https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/caa267862b51d9c4f24e5d4d0a12f0c9.jpg
                                      -
                                        https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/8d192515d5e5f514fceadbe540dc64df.jpg
                                      -
                                        https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/70a16070519236633db441f7f6c7b8f5.jpg
                                      -
                                        https://kasta.ua/imgw/loc/0x0/uploads/product_image/2019/10/76/6ebbfca1f557e3d462648191d637a617.jpg
                                  article:
                                    type: string
                                    example: '0414/301_синий'
                                  size:
                                    type: string
                                    example: 'M'
                                  type:
                                    type: string
                                    example: 'Поло'
                                  composition:
                                    type: string
                                    example: ''
                                  origin:
                                    type: string
                                    example: 'Португалия'
                                  name:
                                    type: string
                                    example: 'Поло'
                          31d789f9-a83a-4a09-b953-a4261cb09910:
                            type: object
                            properties:
                              color_model:
                                type: string
                                example: 'undef'
                              color_name:
                                type: string
                                example: 'Темно-синий'
                              type:
                                type: string
                                example: color_class
                              color_id:
                                type: string
                                example: "695"
                          7d331617-f496-4167-93ce-a6cf071695d7:
                            type: object
                            properties:
                              color_model:
                                type: string
                                example: 'undef'
                              color_name:
                                type: string
                                example: 'Терракотовый'
                              type:
                                type: string
                                example: color_class
                              color_id:
                                type: string
                                example: "697"
                          43058f46-4f01-11ea-80e8-005056a8435c:
                            type: object
                            properties:
                              type:
                                type: string
                                example: item_class
                              dimensions:
                                type: string
                                example: [0, 0, 0]
                              weight:
                                type: number
                                example: 300
                              description: 
                                type: object
                                properties:
                                  lang:
                                    type: string
                                    example: ru
                                  info:
                                    type: string
                                    example: "Длина изделия: 42 см. Описание для размера: EUR M."
                                  code:
                                    type: string
                                    example: "50000338701827"
                                  size_class:
                                    type: string
                                    example: ""
                                  product_id:
                                    type: number
                                    example: "10117296.697"
                                  tags:
                                    type: string
                                    example: []
                                  color:
                                    type: object
                                    properties:
                                      $ref:
                                        type: string
                                        example: "7d331617-f496-4167-93ce-a6cf071695d7"
                                  brand:
                                    type: string
                                    example: "ZARA"
                                  fragile:
                                    type: boolean
                                    example: false
                                  photos:
                                    type: string
                                    example: ["https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/edc114ad89753ce3b5176b527dc5bf9a.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/d5ef0c5f7edae93e6c573ab063243de0.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/3c6f04fd406a95b6e43da523172648d7.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/5eef7318dd81fd578d9eb087d5698408.jpg", "https://kasta.ua/imgw/loc/0x0/uploads/product_image/2020/02/58/dd266888a7650d5e197f18c6567b8abe.jpg"]
                                  article:
                                    type: string
                                    example: "4886/256/642"
                                  size: 
                                    type: string
                                    example: "EUR XS"
                                  type:
                                    type: string
                                    example: "Юбка"
                                  composition:
                                    type: string
                                    example: ""
                                  origin:
                                    type: string
                                    example: "Турция"
                                  name:
                                    type: string
                                    example: "Юбка"
                      serial:
                        type: number
                        example: 4463721332654658
                      total:
                        type: integer
                        example: 2
                  is_closed:
                    type: boolean
                    example: true
                      
        401:
          description: "'message': 'Authorization Required'  →  <i>Необходимо авторизоваться снова"
        403:
          description: "'message': 'Forbidden'  →  <i>Проверьте данные авторизации на корректность и авторизируйтесь еще раз."      
        404:
          description: "'message': 'Not Found'  →  <i> Проверьте корректность введенных данных"
     
          
  /agent/wms-exchange/registry/results:
    get:
      tags:
      - Реестры
      summary: Получение результатов обработки реестра
      description: "Параметры <b>generated</b> и <b>serial</b> - идентификаторы созданного реестра.<br>Ответ по схеме <b>wms_items_out</b>"
      parameters:
      - in: query
        name: generated
        required: true
        description: "Параметр является <b>обязательным</b> для ввода.<br/> &bull;  Тип данных - числовое значение."
        schema:
          type : number
      - in: query
        name: serial
        required: true
        description: "Параметр является <b>обязательным</b> для ввода.<br/> &bull;  Тип данных - числовое значение."
        schema:
          type : number
      
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  not-in-stock:
                    type: string
                    example: ["50000323849711", "50000338701827"]
                  uid:
                    type: string
                    example: "a5acf9c9-999f-41fb-b3de-585689b02eb3"
                  userial:
                    example: "3a30bd80-7406-11ea-8ddd-790d4a755f6d"
                  problems:
                    type: array
                    items:
                      type: object
                      properties:
                        reason:
                          type: string
                          example: "{\"total-vs-items\":true,\"total-vs-tasks\":true,\"only-known-tasks\":true,\"store-not-intersected\":true,\"all-items-are-in-stock\":false,\"tasks-items-all-unique\":true,\"unload-not-intersected\":true,\"fulfill-not-intersected\":true}"
                        code:
                          type: string
                          example: "validation"
                        error:
                          type: number
                          example: 101
                  fulfilled:
                    type: string
                    example: []
                  generated:
                    type: number
                    example: 1585735854000
                  serial:
                    type: number
                    example: 4463721332654658
                      
        401:
          description: "'message': 'Authorization Required'  →  <i>Необходимо авторизоваться снова"
        403:
          description: "'message': 'Forbidden'  →  <i>Проверьте данные авторизации на корректность и авторизируйтесь еще раз."      
        404:
          description: "'message': 'Not Found'  →  <i> Проверьте корректность введенных данных"
          
  
  /agent/schema/wms_import:
    get:
      tags:
      - Реестры
      summary: Схема валидации импорта из внешней системы
      description: ""
      
      responses:
        '200':    # status code
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  required:
                    type: string
                    example: ["external_box_code", "external_document", "external_datetime", "items"]
                  additionalProperties:
                    type: boolean
                    example: false
                  definitions:
                    type: object
                    properties:
                      uuid:
                        type: object
                        properties:
                          pattern:
                            type: string
                            example: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                          type: 
                            type: string
                            example: "string"
                  $schema:
                    type: string
                    example: "http://json-schema.org/draft-07/schema#"
                  type:
                    type: object
                    example: "object"
                  properties:
                    type: object
                    properties:
                      items:
                        type: object
                        properties:
                          patternProperties:
                            type: object
                            properties:
                              ^[^ ]{6,32}$:
                                type: object
                                properties:
                                  additionalProperties:
                                    type: boolean
                                    example: false
                                  required:
                                    type: string
                                    example: ["price", "note", "owner", "class"]
                                  type:
                                    type: string
                                    example: "object"
                                  properties:
                                    type: object
                                    properties:
                                      note:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            example: "string"
                                      owner:
                                        type: object
                                        properties:
                                          additionalProperties:
                                            type: boolean
                                            example: false
                                          required:
                                            type: string
                                            example: ["$ref"]
                                          type:
                                            type: string
                                            example: "object"
                                          properties:
                                            type: object
                                            properties:
                                              ref:
                                                type: object
                                                properties:
                                                  ref:
                                                    type: string
                                                    example: "#/definitions/uuid"
                                      price:
                                        type: object
                                        properties:
                                          type: 
                                            type: string
                                            example: "number"
                                      class:
                                        type: object
                                        properties:
                                          additionalProperties:
                                            type: boolean
                                            example: false
                                          required:
                                            type: string
                                            example: ["type", "weight", "dimensions", "description"]
                                          type:
                                            type: string
                                            example: "object"
                                          properties:
                                            type: object
                                            properties:
                                              type:
                                                type: object
                                                properties:
                                                  enum:
                                                    type: string
                                                    example: ["item_class"]
                                                  type:
                                                    type: string
                                                    example: "string"
                                              dimensions:
                                                type: object
                                                properties:
                                                  minItems:
                                                    type: integer
                                                    example: 3
                                                  items:
                                                    type: object
                                                    properties:
                                                      minimum:
                                                        type: integer
                                                        example: 0
                                                      type:
                                                        type: string
                                                        example: "integer"
                                                  type:
                                                    type: string
                                                    example: "array"
                                                  description:
                                                    type: string
                                                    example: "width, height, depth, in mm"
                                                  maxItems:
                                                    type: integer
                                                    example: 3
                                              weight:
                                                type: object
                                                properties:
                                                  type: 
                                                    type: string
                                                    example: "integer"
                                                  description:
                                                    type: string
                                                    example: "weight, in grams"
                                              description:
                                                type: object
                                                properties:
                                                  required:
                                                    type: string
                                                    example: ["article", "code","name","brand","type","size","size_class","color","origin","composition","info","product_id","photos"]
                                                  type:
                                                    type: string
                                                    example: "object"
                                                  properties:
                                                    type: object
                                                    properties:
                                                      lang:
                                                        type: object
                                                        properties:
                                                          enum:
                                                            type: string
                                                            example: ["ru","uk","en"]
                                                          type:
                                                            type: string
                                                            example: "string"
                                                      info:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                          description:
                                                            type: string
                                                            example: "verbose description"
                                                      code:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                          description:
                                                            type: string
                                                            example: "EAN-13 manufacturer barcode, e.g. 978020137962"
                                                      size_class:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                          description:
                                                            type: string
                                                            example: "size chart used, e.g. EU"
                                                      product_id:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                          description:
                                                            type: string
                                                            example: "e.g. 431231234"
                                                      tags:
                                                        type: object
                                                        properties:
                                                          items:
                                                            type: object
                                                            properties:
                                                              pattern:
                                                                type: string
                                                                example: "^[^ ]{3,24}$"
                                                              type:
                                                                type: string
                                                                example: "string"
                                                          type:
                                                            type: string
                                                            example: "array"
                                                          description:
                                                            type: string
                                                            example: "e.g. additional marks to help identify the item"
                                                          maxItems:
                                                            type: integer
                                                            example: 30
                                                      color:
                                                        type: object
                                                        properties:
                                                          additionalProperties:
                                                            type: boolean
                                                            example: false
                                                          required:
                                                            type: string
                                                            example: ["$ref"]
                                                          type:
                                                            type: string
                                                            example: "object"
                                                          properties:
                                                            type: object
                                                            properties:
                                                              ref:
                                                                type: object
                                                                properties:
                                                                  ref:
                                                                    type: string
                                                                    example: "#/definitions/uuid"
                                                      season:
                                                        type: object
                                                        properties:
                                                          enum: 
                                                            type: string
                                                            example: ["winter","summer","spring","fall","demi-season","demi-season-summer","demi-season-winter","all-season"]
                                                          type:
                                                            type: string
                                                            example: "string"
                                                      brand:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                          description:
                                                            type: string
                                                            example: "e.g. Adidas"
                                                      fragile:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "boolean"                          
                                                      photos:
                                                        type: object
                                                        properties:
                                                          items:
                                                            type: object
                                                            properties:
                                                              type:
                                                                type: string
                                                                example: string
                                                              format:
                                                                type: string
                                                                example: "uri"
                                                          type:
                                                            type: string
                                                            example: "array"
                                                      gender:
                                                        type: object
                                                        properties:
                                                          enum:
                                                            type: string
                                                            example: ["female","male","unisex"]
                                                          type:
                                                            type: string
                                                            example: "string"
                                                      article:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: string
                                                            example: "string"
                                                      price:
                                                        type: object
                                                        properties:
                                                          minimum:
                                                            type: number
                                                            example: 0.01
                                                          type:
                                                            type: string
                                                            example: "number"
                                                          maximum:
                                                            type: number
                                                            example: 9999999999.99
                                                          multipleOf:
                                                            type: number
                                                            example: 0.01  
                                                      size:
                                                        type: object
                                                        properties:
                                                          type:
                                                            type: "string"
                                                            example: string
                                                          description:
[...]
